/* Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    /* Colors */
    --primary-color: #8b31ef;
    --black-color: #1f1f1f;
    --blue-color: #1a2fda;
    --white-color: rgb(249, 248, 248);
    --grey-color: rgb(103, 103, 103);
    --transparent-grey-color: rgba(255, 255, 255, 0.269);

    /* Typography */
    --logo-text: "Cookie", cursive;
    --font-heading: "Bebas Neue", sans-serif;
    --font-text: "Plus Jakarta Sans", sans-serif;

    /* Spacing */
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.5rem;
    --space-6: 2rem;
    --space-7: 3rem;
    --space-8: 4rem;
    --space-9: 8rem;
    --space-10: 12rem;

    /* Layout */
    --max-container: 1840px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: var(--font-text);
}

body.open-nav {
    overflow: hidden;
}


.container {
    max-width: var(--max-container);
    margin: 0 auto;
    height: 100%;
}

/* ======================
          Header
====================== */

.header {
    background-color: var(--black-color);
}

.hamburger-icon {
    display: none;
    background-color: rgb(223, 223, 223);
    border-radius: var(--space-8);
    border: none;
}

.hamburger-icon i {
    font-size: clamp(1.4rem, 2vw, 2.4rem);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: clamp(1rem, 2vw, 1.2rem);
    padding-inline: 1.5%;
}

.nav a {
    text-decoration: none;
    list-style: none;
    color: var(--white-color);
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: clamp(1.1rem, 2vw, 1.8rem);
    letter-spacing: 1.5px;
}

.ul-links {
    display: flex;
    list-style: none;
    gap: var(--space-6);
}

.ul-links a {
    padding: clamp(0.5rem, 5vw, 1.7rem);
}

.social-media-btn {
    display: flex;
    align-items: center;
    gap: var(--space-6);
}

.social-btn {
    display: flex;
}

.social-btn a {
    padding: clamp(0.6rem, 1vw, 2rem);
    transition: transform 0.3s ease;
}

.social-btn a:hover {
    transform: translateY(-2px) scale(1.05);
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.373));
}

.social-btn i {
    padding: var(--space-4);
    background-color: var(--white-color);
    border-radius: var(--space-6);
    color: var(--black-color);
}

/* ===========================
       Mobile Navigation
=========================== */

.mobile-nav {
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    transform: translateX(-130%);
    position: fixed;
    display: none;
    padding: 1rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    transition: all 0.9s cubic-bezier(0.23, 1, 0.320, 1);
}

.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-5);
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links li {
    border-bottom: 1px solid var(--grey-color);
    transition: all 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.links li:hover {
    background-color: rgb(175, 0, 0);
}

.links li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: clamp(3.5rem, 7vw, 5rem);
    font-family: var(--font-heading);
    font-weight: bold;
    display: block;
    width: 100%;
}

.close-icon i {
    padding: 0.8rem;
    border-radius: 50%;
    font-size: clamp(1rem, 2vw, 2rem);
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.close-icon i:hover {
    background-color: var(--white-color);
    color: black;
}

.mobile-nav.active {
    transform: translate(0%);
}

.mobile-nav .contact-btn {
    width: fit-content;
}

.contact-page {
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    /* transform: translateX(130%); */
    position: fixed;
    /* display: none; */
    padding: 1rem;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    transition: all 0.9s cubic-bezier(0.23, 1, 0.320, 1);
}

.left-section {
    background-color: red;
    height: 100%;
    width: 100%;
    padding: clamp(2rem, 4vw, 4rem);
}

.fill-section {
    background-color: rgba(8, 136, 46, 0.519);
    height: 100%;
    width: 100%;
     padding: clamp(2rem, 4vw, 4rem);
}

.contact-img{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    
}

.contact-detail{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    
}
/* ======================
          hero
====================== */
.hero-content {
    padding-block: clamp(4.4rem, 10vw, 3rem);
    padding-inline: 3%;
}

.hero-content h3 {
    font-family: var(--font-text);
    font-size: clamp(1.1rem, 4vw, 1.8rem);
    width: fit-content;
}

.hero-content h1 {
    font-family: var(--font-heading);
    font-size: clamp(5.2rem, 7vw, 10rem);
    line-height: 1.1;
    padding-top: var(--space-3);
    width: fit-content;
}

.hero-content span {
    color: var(--grey-color);
}

.hero-content p {
    font-family: var(--font-text);
    font-size: clamp(1.2rem, 2vw, 2rem);
    max-width: clamp(400px, 80vw, 600px);
    line-height: 1.5;
    padding-top: var(--space-2);
    text-align: left;
}

.hero-content a {
    padding: clamp(0.9rem, 2vw, 1.2rem);
    border-radius: var(--space-3);
    font-family: var(--font-text);
    font-size: clamp(1rem, 2vw, 1.4rem);
    margin-top: var(--space-5);
    border: none;
    font-weight: 800;
    transition: transform 0.6s ease;
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    width: clamp(130px, 50vw, 250px);
    display: flex;
    justify-content: center;
    gap: var(--space-4);
}

.hero-content a:hover {
    transform: translateY(-2px) scale(1.05);
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.373));
}

.hero-content i {
    margin-left: var(--space-2);
    font-size: clamp(1.4rem, 4vw, 2rem);
}

/* ======================
        project
====================== */

.project-container {
    margin-block: clamp(2rem, 7vw, 8rem);
    margin-inline: 3%;
    border-top: 1px solid var(--transparent-grey-color);
    position: relative;
    height: 100%;
}

.page-no-content {
    width: 100%;
    position: absolute;
    top: -25px;
    left: -3px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-text);
    color: var(--transparent-grey-color);
}

.project-content {
    height: 100%;
    display: flex;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(50px, 5vw, 150px);
    height: 800px;
}

.section-heading h2 {
    font-size: clamp(4rem, 8vw, 11rem);
    transform: rotate(270deg);
    font-family: var(--font-heading);
    padding-right: var(--space-9);
    color: var(--transparent-grey-color);
}

.main-project {
    width: 100%;
    height: 100%;
    padding-block: clamp(5rem, 4vw, 8rem);
    padding-inline: 7%;
}

.project-title {
    font-family: var(--font-heading);
}

.project-title h2 {
    font-size: clamp(4.2rem, 3vw, 5rem);
    line-height: 1;
}

.project-title span {
    color: var(--grey-color);
}

.project-card-content {
    border-top: 1px solid rgba(255, 255, 255, 0.255);
    margin-top: var(--space-5);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: var(--space-3);
    transition: transform 1.5s ease;
    gap: 3rem;
}

.project-card-content h2 {
    font-size: clamp(4rem, 8vw, 7.3rem);
    font-family: var(--font-heading);
    font-weight: 400;
}

.project-details {
    display: flex;
    flex-direction: column;
    font-size: clamp(10px, 5vw, 15px);
    justify-content: space-between;
    padding: clamp(1rem, 3vw, 2.2rem);
}

.project-details p {
    font-family: var(--font-text);
    font-size: clamp(1.3rem, 1vw, 1.8rem);
    text-align: left;
}

.project-view-btn {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-family: var(--font-text);
    font-weight: 500;
    padding: clamp(1rem, 1vw, 1.2rem);
    border-radius: 10px;
    border: none;
    margin-top: var(--space-5);
    cursor: pointer;
    background-color: rgb(92, 91, 91);
    color: white;
    transition: transform 0.6s ease;
    text-decoration: none;
    width: clamp(150px, 50vw, 250px);
    text-align: center;
}

.project-view-btn:hover {
    transform: translateY(-2px) scale(1.05);
    filter: drop-shadow(5px 5px 10px rgba(124, 124, 124, 0.506));
    background-color: rgb(32, 31, 31);
}

.project-card-content img {
    /* width: 300px; */
    height: 220px;
    transform: translateY(200%);
    transition: transform 0.5s ease;
    padding: clamp(0.6rem, 3vw, 1rem);
    margin: 0 auto;
}

.project-card-content:hover img {
    transform: translateY(0%);
}

.project-card-content:hover {
    background-color: rgb(247, 247, 247);
    color: black;
}

/* ======================
        About
====================== */

.about-container {
    margin-block: clamp(2rem, 7vw, 8rem);
    margin-inline: 3%;
    border-top: 1px solid var(--transparent-grey-color);
    position: relative;
    height: 100%;
}

.about-content {
    display: flex;
    height: 100%;
    gap: var(--space-2);
}

.aboutme-content {
    margin: clamp(1rem, 5vw, 7rem);
    min-height: 100%;
    width: 100%;
}

.about-me-details {
    padding-block: clamp(2rem, 5vw, 7rem);
    padding-inline: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
    height: 100%;
}

.about-img {
    border-radius: 2rem;
    overflow: hidden;
    width: clamp(20rem, 50vw, 70rem);
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    filter: saturate(0%);
}

.about-img:hover img {
    scale: 1.1;
    filter: saturate(100%);
}

.my-details h2 {
    font-size: clamp(4rem, 5vw, 7rem);
    font-family: var(--font-heading);
}

.my-details h2 span {
    color: var(--grey-color);
}

.my-details p {
    font-size: clamp(1.3rem, 2vw, 1.9rem);
    font-family: var(--font-text);
    font-weight: 500;
    margin-block: clamp(2rem, 3vw, 3rem);
}

.download-cv-btn {
    margin-top: var(--space-7);
    background-color: var(--grey-color);
    width: clamp(150px, 50vw, 300px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: clamp(0.6rem, 2vw, 2rem);
    padding: var(--space-2);
    cursor: pointer;
    transition: transform 0.6s ease;
    text-decoration: none;
}

.download-cv-btn:hover {
    transform: translateY(-2px) scale(1.05);
    filter: drop-shadow(5px 5px 10px rgba(124, 124, 124, 0.506));
}

.download {
    padding: 15px;
    border-radius: 40px;
    border: none;
    font-size: clamp(0.5rem, 4vw, 1.6rem);
    font-family: var(--font-text);
    font-weight: 500;
    cursor: pointer;
    color: var(--white-color);
}

.arrow-btn i {
    font-size: clamp(0.9rem, 2vw, 2rem);
    padding: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
}

/* ======================
        skill
====================== */

.skill-container {
    margin-block: clamp(2rem, 7vw, 8rem);
    margin-inline: 5%;
    border-top: 1px solid var(--transparent-grey-color);
    position: relative;
    height: 100%;
    display: flex;
}

.skill-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-block: clamp(4rem, 5vw, 8rem);
    padding-inline: 3%;
    overflow: hidden;
}

.skill-headings {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: center;
}

.skill-mini-heading {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    text-decoration: underline;
}

.skill-headings h2 {
    font-family: var(--font-heading);
    font-size: clamp(4rem, 5vw, 6rem);
}

.my-skills {
    font-family: var(--font-text);
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    width: clamp(20rem, 60vw, 80rem);
}

.skill-logos {
    margin-top: var(--space-4);
    overflow: hidden;
}

.skill-rows {
    display: flex;
    justify-content: space-around;
    gap: clamp(2rem, 3vw, 4rem);
    padding: clamp(1.7rem, 5vw, 6rem);
}

.skill-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease;
}

.skill-boxes:hover {
    transform: translateY(-2px) scale(1.1);
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.432));
}

.skill-boxes i {
    font-size: clamp(1.6rem, 5vw, 5rem);
}

.skill-boxes svg {
    font-size: clamp(1.6rem, 5vw, 5rem);
}

.skill-boxes img {
    width: clamp(2rem, 5vw, 5rem);
}

.row2 {
    padding-top: 0;
}

/* ======================
 Experience And Educattion
====================== */
.educt-experince-content {
    margin-block: clamp(2rem, 7vw, 8rem);
    margin-inline: 5%;
    border-top: 1px solid var(--transparent-grey-color);
    position: relative;
    height: 100%;
    display: flex;
}

.educ-experience-details {
    width: 100%;
    height: 100%;
    padding-block: clamp(3rem, 3vw, 5rem);
}

.educ-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--space-8);
}

.educ-heading h2 {
    font-family: var(--font-heading);
    font-size: clamp(3rem, 5vw, 6rem);
    width: fit-content;
}

.educ-heading span {
    color: var(--grey-color);
}

.progress {
    width: 100%;
    margin-top: var(--space-8);
    padding-block: clamp(2rem, 3vw, 4rem);
    padding-inline: 9%;
    font-family: var(--font-text);
    display: flex;
    gap: var(--space-5);
    position: relative;
}

.progress-part {
    width: 100%;
    display: flex;
    gap: clamp(2.3rem, 4vw, 4rem);
    position: relative;
    justify-content: space-between;
    font-family: var(--font-text);
    flex-direction: column;
}

.educ-icons {
    width: fit-content;
}

.educ-icons svg {
    padding: 7px;
    background-color: var(--white-color);
    border-radius: 50%;
    color: var(--black-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d3d3d3;
}

.progress-part h4 {
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin-bottom: var(--space-5);
    color: var(--white-color);
}

.progress-part h3 {
    font-size: clamp(1.3rem, 2vw, 2rem);
    margin-bottom: var(--space-3);
}

.progress-part p {
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    color: var(--grey-color);
    text-align: left;
}

.certificates h5 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.certificate ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-left: var(--space-4);
}

.college,
.inter,
.certificate {
    display: flex;
    gap: 40px;
}

/* ======================
        Footer
====================== */

.footer-content {
    margin: 8rem 2rem 0 2rem;
}

.txt-social-media {
    display: flex;
    justify-content: center;
    gap: clamp(4rem, 13vw, 20rem);

}

.txt-social-media li {
    list-style: none;
    font-size: clamp(1rem, 4vw, 2.6rem);
    font-family: var(--font-text);
    font-weight: 600;
    position: relative;
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 50%,
            black 85%,
            transparent 100%);

    mask-image: linear-gradient(to right,
            transparent 0%,
            black 50%,
            black 85%,
            transparent 100%);
}

.move-up {
    padding-bottom: var(--space-4);
    position: absolute;
    top: -40px;
}

.lets-talk-txt {
    padding-top: var(--space-8);
}

.lets-talk-txt h2 {
    font-size: clamp(1rem, 14vw, 14rem);
    font-family: var(--font-text);
    text-align: center;
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 40%,
            black 20%,
            transparent 100%);

    mask-image: linear-gradient(to right,
            transparent 0%,
            black 40%,
            black 20%,
            transparent 100%);
}

.footer-btn-container {
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 2vw, 3.6rem);
    padding-top: var(--space-6);
}

.footer-btns {
    padding: clamp(1rem, 2vw, 1.4rem);
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-family: var(--font-text);
    border-radius: 0.7rem;
    cursor: pointer;
    transition: transform 0.6s ease;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
}

.footer-btns:hover {
    transform: translateY(-2px) scale(1.05);
    filter: drop-shadow(5px 5px 10px rgba(127, 126, 126, 0.574));
}

.contact-btn {
    background-color: var(--grey-color);
    color: var(--white-color);
    border: none;
    padding: clamp(1rem, 2vw, 1.4rem);
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.copy-right-part {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 1rem 0;
    font-size: clamp(0.6rem, 2vw, 1.5rem);
    font-family: var(--font-text);
    padding: 1rem;
}

/* ==========================
          Media Query
========================== */

/* Desktop */
@media (max-width:1024px) {

    /* Nav-section */
    .nav {
        padding: var(--space-4) var(--space-3) 0 var(--space-3);
    }

    .ul-links {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    /* hero section */
    .main-project {
        padding-block: clamp(var(--space-3), 5vw, var(--space-6));
        padding-inline: 2%;
    }

    .project-details p {
        width: 100%;
    }

    .project-card-content img {
        width: 250px;
        height: 200px;
    }

    .mobile-nav {
        display: block;
    }


}

@media (max-width:883px) {

    /* Project section */
    .project-card-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .about-me-details {
        display: flex;
        flex-direction: column;
    }

    .my-details h2,
    p {
        text-align: center;
    }

    .download-cv-btn {
        margin: 0 auto;
    }

}

/* Tablet */
@media (max-width:768px) {

    .section-heading {
        display: none;
    }

    .about-me-details,
    .progress {
        padding: 0;
    }

    .progress-part {
        padding: 0;
    }

    .skill-rows {
        padding-block: clamp(1.7rem, 5vw, 6rem);
        padding-inline: 0%;
    }
}

/* Mobile */
@media (max-width:480px) {
    .hire-me {
        display: none;
    }

}
